<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Your Rides</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div id="nv" th:replace="parts/navbar.html"></div>
<h3>Your rideEntities:</h3>

<tr th:each="rideEntity: ${userRideEntities}">
   start: <td th:text="${rideEntity.getStartPoint()}" />
   destination: <td th:text="${rideEntity.getDestination()}" />
   date: <td th:text="${rideEntity.getRideDate()}" />
   price: <td th:text="${rideEntity.getPrice()}" />

</tr>
</body>
</html>